@media screen and (max-width: 375px) {
    .todo-page{
        width: 375px;
        height: 700px;

    }

    .textbox{
        width: 327px;
        height: 48px;
        flex-shrink: 0;
    }

    .pages{
        width: 327px;
        height: 48px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .title{
        width: inherit;
    }

    .mobile-light{
        background-image: url('./images/bg-mobile-light.jpg');
    }

    .mobile-dark{
        background-image: url('./images/bg-mobile-dark.jpg');
    }
}

/* transfer the code onto a website that handles phone size better e.g. codebox? */